﻿/* Standard stuff */
body, html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    font-family : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* Font stuff */
    font-size: 110%;
    color: #111;
    background: linear-gradient( to bottom right,#ffffff,#dadada) 0% 100%;
    background-size: cover;
    background-attachment: fixed;
}

/* Standard H's */
h1 {
    color: #24535e;
}

h2 {
    color: #185c26;
}

img {
  display: block;
  margin-right: auto;
}

/* Layout */
#wrapper {
    display: block;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    padding: 1em;
}

#header, #content, #footer {
    display: block;
    overflow: auto;
    vertical-align: top;
}

#header {
    border-bottom: solid 0.25em #333;
    padding: 1em;
}

#content {
    padding: 1em;
    text-align: center;
    display: block;
    margin: 0;
}

#footer {
    border-top: solid 0.25em #333;
    padding: 2em;
}

#header, #content, #footer {
    margin: 0;
    position: relative;
}

/* Menu */
.menu {
    display: inline-block;
    float: right;
    position: absolute;
    bottom: 1em;
    right: 1em;
}

    .menu a {
        text-decoration: none;
        color: #102030;
        margin: 0 0.75em;
        text-transform: lowercase;
    }

        .menu a:hover {
            color: #c6cb5b;
        }

/* Groups */
.group {
    vertical-align: top;
    color: #111;
    padding: 0.5em 1em;
    margin: 1em 2em;
    border-radius: 0.5em;
    overflow: auto;
}

.main {
    display: block;
    margin: 1em 0;
    overflow: hidden;
    box-sizing : border-box;
    padding : 1em;
    width:100%;
}

.subgroup {
    text-align : left;
    display : inline-block;
    vertical-align : top;
    padding : 1em;
    margin : 1em;
    background-color: #fff;
    border-radius: 1em;
    box-shadow: 1em 1em 2em rgba(0,0,0,0.5);
    max-width :40em;
    overflow : hidden;
}

.iconlist div {
    display: inline-block;
    width: 24em;
    height: 17em;
    margin: 1%;
    background-color: #fff;
    padding: 0 1%;
    text-align: left;
    vertical-align: top;
    border: solid 4px transparent;
    border-radius: 1em;
    box-shadow: 1em 1em 2em rgba(0,0,0,0.5);
    overflow : hidden;
}

.iconlist a {
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


/* tables */
.infogrid {
    margin: 0.5em 0;
    border-collapse: collapse;
    table-layout: fixed;
}

.infogrid th, .infogrid td:nth-child(1) {
    padding: 0.2em 1em;
    text-align: left;
    color: #102030;
    font-weight: bold;
    color: #101040;
}

.infogrid th {
    font-size: 90%;
    padding : 0 1em;
}


.infogrid td {
    padding: 0.75em 1em;
    border: solid 1px #aaa;
    text-align: left;
    color: #111;
    background-color : #fff;
}


/* Other kak */
.redcolour { color:#FF0000;font-weight:bold;}

.livedata {
    border : dotted 0.5em rgba(200,0,0,0.5);
}

.title {
    display: inline-block;
    float: left;
    color: #102030;
    font-size: 200%;
    transform: translate("10deg");
    margin: 0;
}

    .title label {
        margin: 0;
        display: inline-block;
        padding: 0;
        font-size: 150%;
        font-weight: normal;
        color: #405060;
    }

    .title p {
        display: block;
        font-size: 60%;
        letter-spacing: 0.1em;
        padding: 0;
        margin: 0;
    }

/* User Lists */
.biglist {
    text-align: left;
    font-size: 125%;
}

    .biglist a {
        text-decoration: none;
    }

    .biglist li {
        margin: 1em auto;
    }
	
.regularlist {
   text-align: left;
}

.regularlist li {
	text-align: left;
	margin:40px 0px;
 }

/* Other kak */
blockquote {
    font-family : 'Times New Roman', Times, serif;
    font-size : 80%;
    font-weight : bold;
    color : #aa0000;
    display : block;
}

